* {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
}
.darkMood {
  background-color: black;
  color: white;
}
/* body {
  background-color: black;
  color: white;
} */
:root {
  --main-color: #069c54;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
/* start nav  */
.container {
  width: 90%;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px 0;
  align-items: center;

  position: relative;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 20px;
}
.logo {
  color: var(--main-color);
  font-weight: bold;
}
nav ul li :hover {
  color: var(--main-color);
}
/* .linkInNav {
  color: black;
} */
#menubar {
  display: none;
}
@media (max-width: 762px) {
  #menubar {
    display: block;
  }
  nav {
    margin-bottom: 80px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -2100%;
    transition: 0.6s;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: white;
  }
  nav ul a {
    color: white;
  }
  nav ul li {
    margin-right: 20px;
    margin-top: 35px;
    font-size: 20px;
    font-weight: bold;
  }
}
/* test */
.CustomTopToMenu {
  top: 60px;
}
/* end nav  */
/* start home */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.imagInHome {
  width: 35%;
}

.textInHome {
  width: 45%;
}
.textInHome h1 {
  color: var(--main-color);
  margin-bottom: 20px;
}
.textInHome p {
  /* color: black; */
  font-weight: bold;
  font-size: 20px;
}
.textInHome a {
  display: block;
  background-color: var(--main-color);
  width: fit-content;
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin-top: 80px;
}
.imagInHome img {
  width: 100%;
}
.toTop {
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 50%;

  z-index: 111111;
  display: none;
}
.toTop a {
  color: white;
}
@media (max-width: 762px) {
  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .textInHome a {
    /* width: auto; */
    margin-bottom: 35px;
  }
  .imagInHome {
    width: 45%;
  }

  .textInHome {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* end home */
/* start about */
.aboutTitel {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 30px;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.imagInAbout,
.textInAbout {
  width: 45%;
}
.imagInAbout img {
  width: 80%;
  border-radius: 15px;
}
.textInAbout p {
  width: 80%;
}
.textInAbout h2 {
  margin-bottom: 20px;
}
.textInAbout a {
  display: block;
  background-color: var(--main-color);
  width: fit-content;
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
}
@media (max-width: 762px) {
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .textInAbout p {
    width: auto;
  }
  .textInAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .textInAbout a {
    margin-top: 50px;
  }
}
/* end about */
/* start services */
.servicesTitel {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 30px;
  margin-top: 100px;
}
.sercices {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  margin-bottom: 100px;
}
.sercices div {
  padding: 10px;
  margin: 20px;
  line-height: 1.6;
}
.sercices img {
  width: 100%;
  height: 252px;
}
@media (max-width: 762px) {
  .sercices {
    text-align: center;
  }
}
/* end services */
/* start menu */
.swiper {
  margin-bottom: 100px;
}
.swiper h1 {
  text-align: center;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  background-color: rgb(202, 248, 233);
  padding: 100px 0;
  border-radius: 20px;
  position: relative;
  color: black;
}
.darkMoodColorBlack {
  color: black;
}
.swiper-slide div img {
  width: 50%;
}

.shoping {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 30px;
  background-color: var(--main-color);
  color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.shoping a {
  color: white;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-pagination {
  color: var(--main-color);
}
@media (max-width: 762px) {
  .swiper-slide div {
    width: 280px;
  }
}
/* end menu */
/* start contact */
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.alltxt p:nth-child(1) {
  color: var(--main-color);
  font-size: 25px;
  font-weight: 500;
}
p.txt {
  width: 60%;
  line-height: 1.6;
  /* font-weight: bold; */
}
.contactlink {
  display: block;
  background-color: var(--main-color);
  width: fit-content;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
.alltxt {
  width: 70%;
}
@media (max-width: 762px) {
  .contact {
    flex-direction: column;
    text-align: center;
  }
  p.txt {
    width: auto;
    line-height: 1.6;
    /* font-weight: bold; */
  }
  .contactlink {
    margin-top: 50px;
  }
}
/* end contact */
/* start contact Detals */
.contactDetals {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.contactDetals a {
  display: block;
  /* color: black; */
}
.contactDetals a:hover {
  color: var(--main-color);
}
.logoIncontact a {
  display: inline;
  font-size: 25px;
  transition: 0.7s;
  margin-right: 10px;
}
.logoIncontact h1 {
  color: var(--main-color);
}
@media (max-width: 375px) {
  .contactDetals {
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    text-align: center;
  }
}
@media (max-width: 991px) {
  .contactDetals {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    text-align: center;
  }
}
/* end contact Detals */
/* start footer  */
.footer p {
  text-align: center;
  font-size: 20px;
}
.footer p span {
  color: var(--main-color);
}
/* end footer  */
 
